**/build
**/.settings
**/.classpath
**/bin
**/lib
**/target
**/plugin.xml
*.augmented.*
**/*.ipr
**/*.iws
**/*.iml
**/.gradle
**/cert
**/out
**/.dev/
**/.tmp/
**/.DS_Store
**/*.sublime-project
**/*.sublime-workspace
**/bower_components/
**/node_modules/
**/test/coverage/
**/dist
**/npm-debug.log
**/pdf-out
data/
.project
*-ui.js
*-ui.tpl.js
**/classes

docs

**/overlays

.idea/*